<div style="direction:rtl;text-align:center"><img src="https://dl.mohammadkh.ir/logo.png" alt="Mohammadkh.ir" style="width: 250px;"/></div>
<h1><div style="direction:rtl;text-align:center">PreProcessing</div></h1>

## Lib

In [1]:
import numpy as np
import pandas as pd

## Load Data

In [2]:
data = pd.read_csv('../__data/DataPreprocessing.csv')
X = data.iloc[:, :-1].values # X --> matrix | x --> array
y = data.iloc[:, -1].values
data.head()

   Region   Age   Income Online Shopper
0   India  49.0  86400.0             No
1  Brazil  32.0  57600.0            Yes
2     USA  35.0  64800.0             No
3  Brazil  43.0  73200.0             No
4     USA  45.0      NaN            Yes

# str2num

## 1- Manual

In [10]:
vocab_lable = sorted(set(X[:,0]))
vocab_lable

['Brazil', 'India', 'USA']

In [14]:
char2idx_lable = {u:i for i, u in enumerate(vocab_lable)}  # map data
idx2char_lable = np.array(vocab_lable) # id data

In [16]:
# OR X[:,0]= X[:,0].map(char2idx_lable)   

X[:,0]=[char2idx_lable[c] for c in X[:,0]] 

X

##2- Lib

In [30]:
from sklearn.preprocessing import LabelEncoder

In [31]:
le = LabelEncoder()
X[:, 0] = le.fit_transform(X[:, 0])
X

array([[1, 49.0, 86400.0],
       [0, 32.0, 57600.0],
       [2, 35.0, 64800.0],
       [0, 43.0, 73200.0],
       [2, 45.0, nan],
       [1, 40.0, 69600.0],
       [0, nan, 62400.0],
       [1, 53.0, 94800.0],
       [2, 55.0, 99600.0],
       [1, 42.0, 80400.0]], dtype=object)

# OneHot

##1-

In [24]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [25]:
ct = ColumnTransformer([('Country', OneHotEncoder(), [0])], remainder='passthrough') #passthrough --> negah dashtan baghie colums 
X = ct.fit_transform(X)
X

array([[0.0, 1.0, 0.0, 49.0, 86400.0],
       [1.0, 0.0, 0.0, 32.0, 57600.0],
       [0.0, 0.0, 1.0, 35.0, 64800.0],
       [1.0, 0.0, 0.0, 43.0, 73200.0],
       [0.0, 0.0, 1.0, 45.0, nan],
       [0.0, 1.0, 0.0, 40.0, 69600.0],
       [1.0, 0.0, 0.0, nan, 62400.0],
       [0.0, 1.0, 0.0, 53.0, 94800.0],
       [0.0, 0.0, 1.0, 55.0, 99600.0],
       [0.0, 1.0, 0.0, 42.0, 80400.0]], dtype=object)

##2-

In [59]:
data = pd.get_dummies(data, prefix=["Country"], columns=["Region"])
data

    Age   Income Online Shopper  Country_Brazil  Country_India  Country_USA
0  49.0  86400.0             No               0              1            0
1  32.0  57600.0            Yes               1              0            0
2  35.0  64800.0             No               0              0            1
3  43.0  73200.0             No               1              0            0
4  45.0      NaN            Yes               0              0            1
5  40.0  69600.0            Yes               0              1            0
6   NaN  62400.0             No               1              0            0
7  53.0  94800.0            Yes               0              1            0
8  55.0  99600.0             No               0              0            1
9  42.0  80400.0            Yes               0              1            0

<div class="alert alert-block alert-info">
<div style="direction:rtl;text-align:left"><strong> PreProcessing</strong><br>MohammadReza <strong>Khajedaloi</strong><br><br>
</div>
<div style="direction:rtl;text-align:right">
<a href="http://mohammadkh.ir/">WebSite</a> - <a href="https://github.com/khajedaloi/">GitHub</a> - <a href="https://www.linkedin.com/in/mohammad-kh/">Linkedin</a>
</div>
</div>